<section>
    <section>
        <form #searchForm="ngForm" (ngSubmit)="submit()">
            <input type="text" id="search" [(ngModel)]="search" name="search" required>
            <button class="btn --icon" type="submit" [disabled]="!searchForm.form.valid">Submit</button>
        </form>
    </section>
    <section class="flex flex-wrap gap-2">
        <section class="category_container flex flex-row gap-2" *ngFor="let category of filteredCategories">
            <div>
                <div (click)="goToCategory(category.id)" class="flex w-48 h-48 bg-slate-300 justify-center items-center cursor-pointer hover:bg-slate-400">
                    <h4 class="category_label text-lg">{{ category?.label }}</h4>
                </div>
            </div>
        </section>
        <div *ngIf="submitted && filteredCategories?.length === 0" class="w-full text-center text-slate-500">
            Aucune catégorie trouvée pour "{{ search }}".
        </div>
    </section>
</section>
